node_modules
*.sublime-project
*.sublime-workspace

#static/images/icons/svgs/#backup

static/fonts

static/images/*
!static/images/icons/*

static/css
static/scss
!static/scss/templates

static/sourcemaps/*
!static/sourcemaps
static/sourcemaps/css/*
!static/sourcemaps/css
static/sourcemaps/js/*
!static/sourcemaps/js
