/* 
 * Web Icon Font SCSS
 *
 * @url:      http://fallwater.ca/
 * @author:   Jeff Waterfall
 * @source:   https://github.com/nfroidure/gulp-iconfont
 * @template: iconfont.scss
 *
 * Copyright 2015 Jeff Waterfall
 *
 * TO DO: turn lists to maps?
 */

// Icon Font Name:
$iconFontBaseName: "icons";

// Number of Icons:
$iconFoundCount: 16;

// List of icon names:
$iconFontList:   "i-checkmark", "i-facebook-box", "i-facebook", "i-googleplus-box", "i-googleplus", "i-instagram", "i-linkedin-box", "i-linkedin", "i-pinterest-box", "i-pinterest", "i-search", "i-tag", "i-twitter-box", "i-twitter", "i-vimeo-box", "i-youtube-box";

// List of icon values:
$iconFontValues: "\E001", "\E002", "\E003", "\E004", "\E005", "\E006", "\E007", "\E008", "\E009", "\E00A", "\E00B", "\E00C", "\E00D", "\E00E", "\E00F", "\E010";

// Font Sources
$iconFontSrc: url("../fonts/icons.eot");
$iconFontSrcs: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icons.woff") format("woff"),
        url("../fonts/icons.ttf") format("truetype"),
        url("../fonts/icons.svg?#icons") format("svg");

// Icons Variables:
$i-checkmark: "\E001";
$i-facebook-box: "\E002";
$i-facebook: "\E003";
$i-googleplus-box: "\E004";
$i-googleplus: "\E005";
$i-instagram: "\E006";
$i-linkedin-box: "\E007";
$i-linkedin: "\E008";
$i-pinterest-box: "\E009";
$i-pinterest: "\E00A";
$i-search: "\E00B";
$i-tag: "\E00C";
$i-twitter-box: "\E00D";
$i-twitter: "\E00E";
$i-vimeo-box: "\E00F";
$i-youtube-box: "\E010";


// Icon Mixins:
@include i-checkmark() {
    content: "\E001";
}
@include i-facebook-box() {
    content: "\E002";
}
@include i-facebook() {
    content: "\E003";
}
@include i-googleplus-box() {
    content: "\E004";
}
@include i-googleplus() {
    content: "\E005";
}
@include i-instagram() {
    content: "\E006";
}
@include i-linkedin-box() {
    content: "\E007";
}
@include i-linkedin() {
    content: "\E008";
}
@include i-pinterest-box() {
    content: "\E009";
}
@include i-pinterest() {
    content: "\E00A";
}
@include i-search() {
    content: "\E00B";
}
@include i-tag() {
    content: "\E00C";
}
@include i-twitter-box() {
    content: "\E00D";
}
@include i-twitter() {
    content: "\E00E";
}
@include i-vimeo-box() {
    content: "\E00F";
}
@include i-youtube-box() {
    content: "\E010";
}


// Declare font face
@include font-face() {
    font-family: $iconFontBaseName;
    src: $iconFontSrc;
    src: $iconFontSrcs;
    font-weight: normal;
    font-style: normal;
}

// Icon Base Styles Mixin:
@mixin icon() {
    font-family: @iconFontBaseName;
    display: inline-block;
    //vertical-align: middle;
    vertical-align: -7%;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}