/* 
 * Web Icon Font SCSS
 *
 * @url:      http://fallwater.ca/
 * @author:   Jeff Waterfall
 * @source:   https://github.com/nfroidure/gulp-iconfont
 * @template: iconfont.scss
 *
 * Copyright 2015 Jeff Waterfall
 */

// Icon Font Name:
$iconFontBaseName: "icons";

// Number of Icons:
$iconFontCount: 16;

// Map of icon names:
$iconFontList: (
    checkmark: "i-checkmark", 
    facebook-box: "i-facebook-box", 
    facebook: "i-facebook", 
    googleplus-box: "i-googleplus-box", 
    googleplus: "i-googleplus", 
    instagram: "i-instagram", 
    linkedin-box: "i-linkedin-box", 
    linkedin: "i-linkedin", 
    pinterest-box: "i-pinterest-box", 
    pinterest: "i-pinterest", 
    search: "i-search", 
    tag: "i-tag", 
    twitter-box: "i-twitter-box", 
    twitter: "i-twitter", 
    vimeo-box: "i-vimeo-box", 
    youtube-box: "i-youtube-box"
);

// Map of icon values:
$iconFontValues: (
    checkmark: "\E001", 
    facebook-box: "\E002", 
    facebook: "\E003", 
    googleplus-box: "\E004", 
    googleplus: "\E005", 
    instagram: "\E006", 
    linkedin-box: "\E007", 
    linkedin: "\E008", 
    pinterest-box: "\E009", 
    pinterest: "\E00A", 
    search: "\E00B", 
    tag: "\E00C", 
    twitter-box: "\E00D", 
    twitter: "\E00E", 
    vimeo-box: "\E00F", 
    youtube-box: "\E010"
);

// Font Sources
$iconFontSrc: url("icons.eot");
$iconFontSrcs: url("icons.eot?#iefix") format("embedded-opentype"),
        url("icons.woff") format("woff"),
        url("icons.ttf") format("truetype"),
        url("icons.svg?#icons") format("svg");

// Icons Variables:
$i-checkmark: "\E001";
$i-facebook-box: "\E002";
$i-facebook: "\E003";
$i-googleplus-box: "\E004";
$i-googleplus: "\E005";
$i-instagram: "\E006";
$i-linkedin-box: "\E007";
$i-linkedin: "\E008";
$i-pinterest-box: "\E009";
$i-pinterest: "\E00A";
$i-search: "\E00B";
$i-tag: "\E00C";
$i-twitter-box: "\E00D";
$i-twitter: "\E00E";
$i-vimeo-box: "\E00F";
$i-youtube-box: "\E010";


// Icon Mixins:
@mixin i-checkmark() {
    content: "\E001";
}
@mixin i-facebook-box() {
    content: "\E002";
}
@mixin i-facebook() {
    content: "\E003";
}
@mixin i-googleplus-box() {
    content: "\E004";
}
@mixin i-googleplus() {
    content: "\E005";
}
@mixin i-instagram() {
    content: "\E006";
}
@mixin i-linkedin-box() {
    content: "\E007";
}
@mixin i-linkedin() {
    content: "\E008";
}
@mixin i-pinterest-box() {
    content: "\E009";
}
@mixin i-pinterest() {
    content: "\E00A";
}
@mixin i-search() {
    content: "\E00B";
}
@mixin i-tag() {
    content: "\E00C";
}
@mixin i-twitter-box() {
    content: "\E00D";
}
@mixin i-twitter() {
    content: "\E00E";
}
@mixin i-vimeo-box() {
    content: "\E00F";
}
@mixin i-youtube-box() {
    content: "\E010";
}


// Icon Base Styles Mixin:
@mixin i() {
    font-family: @iconFontBaseName;
    display: inline-block;
    vertical-align: -7%;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Declare font face
@mixin fontFace() {
    @font-face {
        font-family: $iconFontBaseName;
        src: $iconFontSrc;
        src: $iconFontSrcs;
        font-weight: normal;
        font-style: normal;
    }
}