/* 
 * Web Icon Font SCSS
 *
 * @url:      http://fallwater.ca/
 * @author:   Jeff Waterfall
 * @source:   https://github.com/nfroidure/gulp-iconfont
 * @template: iconfont.scss
 *
 * Copyright 2015 Jeff Waterfall
 *
 * TO DO: turn lists to maps?
 */

// Icon Font Name:
$iconFontBaseName: "<%= fontName %>";

// Number of Icons:
$iconFoundCount: <%= glyphs.length %>;

// List of icon names:
$iconFontList:   <% _.each(glyphs, function(glyph, i) { %>"<%= className %>-<%= glyph.name %>"<% if( i !== (glyphs.length - 1) ) { %>, <% } }); %>;

// List of icon values:
$iconFontValues: <% _.each(glyphs, function(glyph, i) { %>"\<%= glyph.codepoint.toString(16).toUpperCase() %>"<% if( i !== (glyphs.length - 1) ) { %>, <% } }); %>;

// Font Sources
$iconFontSrc: url("<%= fontPath %><%= fontName %>.eot");
$iconFontSrcs: url("<%= fontPath %><%= fontName %>.eot?#iefix") format("embedded-opentype"),
        url("<%= fontPath %><%= fontName %>.woff") format("woff"),
        url("<%= fontPath %><%= fontName %>.ttf") format("truetype"),
        url("<%= fontPath %><%= fontName %>.svg?#<%= fontName %>") format("svg");

// Icons Variables:
<% _.each(glyphs, function(glyph) { %>$<%= className %>-<%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
<% }); %>

// Icon Mixins:
<% _.each(glyphs, function(glyph) { %>@include <%= className %>-<%= glyph.name %>() {
    content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
}
<% }); %>

// Declare font face
@include font-face() {
    font-family: $iconFontBaseName;
    src: $iconFontSrc;
    src: $iconFontSrcs;
    font-weight: normal;
    font-style: normal;
}

// Icon Base Styles Mixin:
@mixin icon() {
    font-family: @iconFontBaseName;
    display: inline-block;
    //vertical-align: middle;
    vertical-align: -7%;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
